/* Scss Document */
/* Scss Document */
.detail_top {
  width: 100%;
  background-color: #f2f2f2; }

.detail_top .frame {
  width: 1210px;
  background-color: #fff;
  margin: auto;
  padding-bottom: 20px; }

.detail_top .left {
  width: 378px;
  float: left; }

.detail_top .left .picFrame {
  width: 350px;
  height: 350px;
  margin: 14px 0 14px 14px;
  position: relative; }

.detail_top .left .picFrame img {
  width: 350px;
  height: 350px; }

.detail_top .left .smallPicFrame {
  width: 100%;
  position: relative;
  height: 54px; }

.detail_top .left .smallPicFrame .smallPicLeft {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 14px;
  height: 54px;
  background-image: url(img/newicon20140910.png);
  background-position: 0 -346px; }

.detail_top .left .smallPicFrame .smallPicRight {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 14px;
  height: 54px;
  background-image: url(img/newicon20140910.png);
  background-position: -14px -346px; }

.detail_top .left .smallPicFrame .smallPicCenter {
  position: absolute;
  width: 310px;
  height: 54px;
  overflow: hidden;
  top: 0;
  left: 36px; }

.detail_top .left .smallPicFrame .smallPicCenterRoll {
  height: 54px;
  width: 200%;
  position: absolute;
  top: 0px;
  left: 0px; }

.detail_top .left .smallPicFrame .smallPicCenterRoll img {
  float: left;
  width: 50px;
  height: 50px;
  padding: 2px;
  margin-left: 5px; }

.detail_top .left .bottom {
  margin-top: 24px; }

.detail_top .left .bottom .pid {
  float: left;
  font: 12px/150% Arial,Verdana,"\5b8b\4f53";
  margin-left: 40px; }

.detail_top .left .bottom .attention {
  float: right;
  font: 12px/150% Arial,Verdana,"\5b8b\4f53";
  margin-right: 40px; }

.detail_top .left .bottom .share {
  float: right;
  font: 12px/150% Arial,Verdana,"\5b8b\4f53";
  margin-right: 10px; }

.detail_top .left .bottom .icon {
  width: 12px;
  height: 12px;
  float: left;
  background-image: url(img/newicon20140910.png); }

.detail_top .left .bottom .share .icon {
  background-position: -162px -296px; }

.detail_top .left .bottom .attention .icon {
  width: 15px;
  background-position: -177px -296px; }

.detail_top .left .bottom .name {
  float: left;
  font: 12px/150% Arial,Verdana,"\5b8b\4f53"; }

.detail_top .center {
  width: 588px;
  float: left; }

.detail_top .center .title {
  line-height: 1.5em;
  overflow: hidden;
  font-weight: 700;
  font-family: arial,"microsoft yahei";
  font-size: 16px;
  margin-top: 10px; }

.detail_top .center .desc {
  font-family: arial,"microsoft yahei";
  color: #e3393c;
  font-size: 14px;
  line-height: 20px;
  word-break: break-all; }

.detail_top .center .point {
  width: 100%; }

.detail_top .center .pLeft {
  float: left;
  width: 72px;
  text-align: right;
  font-family: simsun;
  margin-top: 4px;
  font-size: 12px; }

.detail_top .center .pRight {
  float: left;
  font-family: simsun;
  margin-top: 4px;
  font-size: 12px; }

.detail_top .center .pRight .selectPoint {
  float: left;
  height: 27px;
  border: 1px solid #ccc;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 27px;
  padding-left: 3px;
  padding-right: 3px; }

.detail_top .center .pRight .selectIcon {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 1px; }

.detail_top .center .pRight .selectTitle {
  float: left; }

.detail_top .center .count {
  width: 49px;
  height: 34px;
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
  margin: 8px 10px 0 0; }

.detail_top .center .count input {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 31px;
  height: 32px;
  line-height: 32px;
  text-align: center; }

.detail_top .center .count .add {
  width: 15px;
  text-align: center;
  height: 17px;
  line-height: 17px;
  overflow: hidden;
  background: #f1f1f1;
  color: #666;
  position: absolute;
  right: -1px;
  border: 1px solid #ccc; }

.detail_top .center .count .sub {
  width: 15px;
  text-align: center;
  height: 17px;
  line-height: 17px;
  overflow: hidden;
  background: #f1f1f1;
  color: #666;
  position: absolute;
  right: -1px;
  border: 1px solid #ccc;
  bottom: -1px; }

.detail_top .center .addBuyCard {
  width: 137px;
  height: 38px;
  background-image: url(img/p-btns.png);
  margin-top: 8px; }

.detail_top .right {
  width: 200px;
  margin-top: 20px;
  padding: 0 22px;
  float: left; }

.detail_top .right .iconFrame {
  padding: 10px 0;
  overflow: hidden;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee; }

.detail_top .right .shopName {
  height: 20px;
  color: #005aa0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-size: 12px;
  width: 175px;
  padding: 15px 16px 15px 9px; }

.detail_top .right .shopPrice {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-size: 12px;
  width: 175px;
  padding: 0px 16px 15px 9px; }

.detail_top .right .link {
  width: 59px;
  height: 24px;
  line-height: 24px;
  padding-left: 27px;
  margin-left: 9px;
  background-image: url(img/im20131028.gif);
  line-height: 24px;
  color: #fff;
  font-size: 12px; }

.detail_top .right .buttonFrame {
  margin-top: 10px;
  padding: 10px;
  border-top: solid 1px #eee; }

.detail_top .right .buttonFrame .button {
  padding: 0 12px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#f2f2f2));
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  font-size: 12px;
  overflow: hidden;
  float: left;
  margin-right: 10px; }

/*# sourceMappingURL=detail_top.css.map */
