/* Scss Document */
/* Scss Document */
.index_list {
  width: 1210px;
  margin: auto;
  margin-top: 20px; }

.index_list .top {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #c81623; }

.index_list .top .left {
  float: left; }

.index_list .top .left .logo {
  float: left;
  width: 31px;
  height: 25px;
  background: url(img/product_home_1.0.0.png) no-repeat 0 0;
  background-position: 0 0px;
  margin-top: 5px; }

.index_list .top .left .title {
  float: left;
  display: inline;
  line-height: 30px;
  font-size: 20px;
  font-family: "microsoft yahei";
  font-weight: 400;
  color: #666;
  margin-top: 2px;
  margin-left: 10px; }

.index_list .top .right {
  float: right;
  border: 1px solid #DFDFDF;
  border-bottom: 0px;
  height: 35px; }

.index_list .top .right .point {
  float: left;
  height: 35px;
  text-decoration: none;
  overflow: hidden;
  background: #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
  white-space: nowrap;
  font: 12px/150% Arial,Verdana,"\5b8b\4f53"; }

.index_list .top .right .point .main {
  margin-top: 12px;
  height: 12px;
  padding: 0 15px;
  border-right: solid 1px #DFDFDF;
  cursor: pointer; }

.index_list .top .right .point .main:hover {
  color: #c81623; }

.index_list .center .left {
  width: 330px;
  height: 474px;
  float: left;
  position: relative; }

.index_list .center .left .mainFrame {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%; }

.index_list .center .left .mainFrame .themes {
  background-color: rgba(255, 255, 255, 0.5); }

.index_list .center .left .mainFrame .themes .point {
  width: 50%;
  float: left;
  height: 46px; }

.index_list .center .left .mainFrame .themes .point .icon {
  width: 26px;
  height: 26px;
  background-image: url(img/electronicsicon.png);
  float: left;
  margin-top: 9px;
  margin-left: 24px; }

.index_list .center .left .mainFrame .themes .point .name {
  font-size: 14px;
  margin-right: 5px;
  float: left;
  line-height: 46px;
  margin-left: 10px;
  font-family: "microsoft yahei";
  cursor: pointer; }

.index_list .center .left .mainFrame .assists {
  padding-top: 21px;
  background-color: rgba(255, 255, 255, 0.7); }

.index_list .center .left .mainFrame .assists .point {
  white-space: nowrap;
  width: 135px;
  float: left;
  height: 24px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 24px;
  font-family: "microsoft yahei";
  cursor: pointer; }

.index_list .center .left .mainFrame .words .point {
  float: left;
  padding: 7px 0 0 10px;
  position: relative;
  left: 15px;
  font-family: "microsoft yahei";
  cursor: pointer; }

.index_list .center .left .mainFrame .words {
  padding-bottom: 21px;
  background-color: rgba(255, 255, 255, 0.7); }

.index_list .center .right {
  float: left;
  width: 880px; }

.index_list .center .right .point {
  float: left;
  width: 185px;
  height: 230px;
  padding: 6px 17px 0;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  overflow: hidden;
  cursor: pointer; }

.index_list .center .right .point .productpicFrame {
  width: 100%;
  height: 155px; }

.index_list .center .right .point .productImg {
  width: 130px;
  height: 130px;
  margin: auto;
  margin-top: 10px; }

.index_list .center .right .point .productName {
  font: 12px/150% Arial,Verdana,"\5b8b\4f53";
  color: #666; }

.index_list .center .right .point .productPrice {
  font-size: 15px;
  font-family: Verdana;
  color: #E4393C; }

.index_list .bottom {
  margin-top: 10px;
  padding-top: 13px;
  padding-bottom: 13px; }

.index_list .bottom .point {
  float: left;
  height: 40px;
  width: 120px;
  border-right: 1px solid #F1F1F1;
  cursor: pointer; }

.index_list .bottom .point img {
  width: 100px;
  height: 40px;
  margin: auto; }

.index_list .banner {
  height: 110px;
  margin-bottom: 30px;
  overflow: hidden;
  margin-bottom: 30px; }

.index_list .banner .pomo {
  float: left;
  cursor: pointer;
  height: 110px;
  width: 33.3%; }

/*# sourceMappingURL=index_list.css.map */
