/* Scss Document */
@import "lib/sass.scss";
.com_list .list{
	font-family: 'microsoft yahei';
	width: 950px;
	margin: auto;
	margin-top: 20px;
	border:1px solid $col-gra2;
}
.com_list .list .top{
	border-bottom:1px solid $col-gra2;
}
.com_list .list .top .point{
	float: left;
	margin-left: 20px;
	line-height: 50px;
}
.com_list .list .center .point{
	width: 800px;
	margin: auto;
	margin-top: 20px;
	border:1px solid $col-gra2;
}
.com_list .list .center .left{
	width: 150px;
	height: 150px;
	float: left;
}
.com_list .list .center .right{
	float: left;
	padding: 20px;
}
.com_list .list .center .title{
	font-size: 30px;
	font-weight: bolder;
}
.com_list .list .center .price{
	margin-top: 2px;
}
.com_list .list .bottom{
	margin-top: 20px;
	border-top:1px solid $col-gra2;
	height: 100px;
}
.com_list .list .bottom .comStat,.com_list .list .bottom .comInput{
	margin-top: 20px;
	margin-left: 20px;
}
.com_list .list .bottom .button{
	width: 125px;
    height: 38px;
    background-color: #efc94c;
    color: #fff;
    border-radius: 5px;
    behavior: url(include/PIE.htc);
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    cursor: pointer;
}
.com_list .list .bottom .comLeft{
	float: left;
}
.com_list .list .bottom .comRight{
	float: left;
	margin-left: 20px;
}
.com_list .list .bottom .comStat .comRight{
	width: 75px;
    height: 19px;
    background-image: url(img/newicon20140910.png);
    background-position: -183px -238px;
}
.com_list .list .bottom .comStat .comRight .point{
	width: 15px;
	height: 19px;
	cursor: pointer;
	float: left;
}
.com_list .list .bottom .comStat .comRight.star0{
	background-position: -183px -238px;
}
.com_list .list .bottom .comStat .comRight.star1{
	background-position: -169px -238px;
}
.com_list .list .bottom .comStat .comRight.star2{
	background-position: -154px -238px;
}
.com_list .list .bottom .comStat .comRight.star3{
	background-position: -139px -238px;
}
.com_list .list .bottom .comStat .comRight.star4{
	background-position: -124px -238px;
}
.com_list .list .bottom .comStat .comRight.star5{
	background-position: -109px -238px;
}
.com_list .list .bottom .comRight input{
	width: 500px;
    height: 33px;
    border: 1px solid #DFDFDF;
    text-align: center;
}