/* Scss Document */
@import "lib/sass.scss";
.deal_list{
	width: 950px;
	margin: auto;
	font-family: 'microsoft yahei'
	}
.deal_list .list{
	width: 950px;
	margin: auto;
	margin-top: 20px;
	border:1px solid $col-gra2;
}
.deal_list .list .top{
	border-bottom:1px solid $col-gra2;
}
.deal_list .list .top .point{
	float: left;
	margin-left: 20px;
	line-height: 50px;
}
.deal_list .list .center .point{
	width: 800px;
	margin: auto;
	margin-top: 20px;
	border:1px solid $col-gra2;
}
.deal_list .list .center .left{
	width: 150px;
	height: 150px;
	float: left;
}
.deal_list .list .center .right{
	float: left;
	padding: 20px;
}
.deal_list .list .center .title{
	font-size: 30px;
	font-weight: bolder;
}
.deal_list .list .center .price{
	margin-top: 2px;
}
.deal_list .list .bottom{
	margin-top: 20px;
	border-top:1px solid $col-gra2;
	height: 80px;
}
.deal_list .list .bottom .state{
	float: left;
	margin-left: 20px;
	line-height: 80px;
	font-size: 25px;
}
.deal_list .list .bottom .button{
	width: 125px;
    height: 38px;
    background-color: #efc94c;
    color: #fff;
    border-radius: 5px;
    behavior: url(include/PIE.htc);
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    cursor: pointer;
}
    