/* Scss Document */
@import "lib/sass.scss";
.detail_all{
	margin:auto;
	width:1180px;}
.detail_all .left{
	width:800px;
	float:left;
	}
.detail_all .right{
	width:360px;
	float:left;
	margin-left:20px;
	}
.detail_all .left .top img{
	width:800px;
	height:394px;
	float:left;}
.detail_all .left .top .imgframe{
	width:800px;
	height:394px;
	overflow:hidden;
	position:relative;
	}
.detail_all .left .top .imgRoll{
	width:800px * 4;
	height:394px;
	position:absolute;
	top:0px;
	left:0px;
	}
.detail_all .left .top .thirdPoint{
	width:33%;
	float:left;
	height:75px;
	position:relative;
	margin-top:10px;
	border-right:1px solid $col-gra;
	text-align:center;}
.detail_all .left .top .thirdPoint.last{
	border-right:none;}
.detail_all .left .top .thirdPoint .icon{
	width:40px;
	height:40px;
	@include bdr(40px);
	line-height:40px;
	text-align:center;
	background-color:#fff;
	border:1px solid $col-gra;
	position:absolute;
	top:-35px;
	left:112px;
	}
.detail_all .left .top .thirdPoint .type{
	padding-top:16px;
	font-size:$fs5;
	color:$col-gra3;}
.detail_all .left .top .thirdPoint .main{
	margin-top:10px;}
.detail_all .left .bottom .nav{
	background-color:$col-gra2;
	width:100%;
	margin-top:20px;}
.detail_all .left .bottom .nav .point{
	width:160px;
	height:60px;
	text-align:center;
	line-height:60px;
	float:left;
	cursor: pointer;
	}
.detail_all .left .bottom .nav .point.hl{
	background-color:$col-whi;
	color:$col-org;
	height:59px;
	border-top:2px solid $col-org;
	line-height:58px;}
.detail_all .left .bottom .com .addCom{
	width:790px;
	height:40px;
	line-height:40px;
	color:$col-whi;
	background-color:$col-org;
	line-height:40px;
	text-align:center;
	margin:auto;
	margin-top:20px;
	cursor: pointer;
	}
.detail_all .left .bottom .com .comFrame{
	width:790px;
	margin:auto;
	}
.detail_all .left .bottom .com .comFrame .firstCom{
	margin-top:70px;}
.detail_all .left .bottom .com .icon{
	float:left;
	width:50px;
	height:50px;
	border-radius:35px;
	display:block;
	margin-left:15px;
	float:left;}
.detail_all .left .bottom .com .comFrame .main{
	float:left;
	width:695px;
	margin-left:30px;}
.detail_all .left .bottom .com .comFrame .child .main{
	width:600px;}
.detail_all .left .bottom .com .name{
	color:$col-org;}
.detail_all .left .bottom .com .descA{
	margin-top:20px;
	}
.detail_all .left .bottom .com .time{
	margin-top:10px;
	font-size:$fs6;
	color:$col-gra;
	}
.detail_all .left .bottom .com .point{
	margin-top:25px;}
.detail_all .left .bottom .member table{
	width:760px;
	margin:auto;}
.detail_all .left .bottom .member table th{
	height:40px;
	border-top:1px solid $col-gra;
	border-bottom:1px solid $col-gra;}
.detail_all .left .bottom .member table td{
	height:40px;
	text-align:center;}
.detail_all .right .top{
	position:relative;}
.detail_all .right .top .title{
	font-size:$fs3;
	padding-top:25px;
	font-weight:bold;
	}
.detail_all .right .top .gain{
	margin-top:35px;}
.detail_all .right .top .gain .num{
	font-size:$fs1;}
.detail_all .right .top .change{
	float:left;
	margin-top:40px;}
.detail_all .right .top .line{
	float:left;
	margin-top:48px;
	margin-left:5px;
	border-top:1px dashed $col-gra;
	width:215px}
.detail_all .right .top .persent{
	float:left;
	margin-top:40px;
	margin-left:5px;}
.detail_all .right .top .tag{
	position:absolute;
	top: 18px;
    right: -4px;}
.detail_all .right .center{
	width:100%;
	height:110px;
	padding-top:30px;}
.detail_all .right .center .point{
	text-align:center;
	margin-bottom:10px;
	}
.detail_all .right .center .button{
	width:330px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:$col-whi;
	background-color:$col-org;
	cursor: pointer;
	@include bdr(5px);
	margin:auto;}
.detail_all .right .bottom{
	width:100%;
	padding-top:30px;
	}
.detail_all .right .bottom .title{
	font-size:$fs1;
	font-weight:bold;
	text-indent:10px;}
.detail_all .right .bottom .frame{
	border-top:1px solid $col-gra;
	border-bottom:1px solid $col-gra;
	padding-bottom:5px;
	padding-top:5px;
	margin-top:20px;}
.detail_all .right .bottom .thirdPoint{
	width:33.3%;
	float:left;}
.detail_all .right .bottom .main{
	height:45px;
	border-right:1px solid $col-gra;
	width:100%;
	text-align:center;
	line-height:23px;
	}
.detail_all .right .bottom .main.last{
	border:none;
	}
.detail_all .right .bottom .secondTitle{
	text-indent:10px;
	margin-top:10px;}
.detail_all .right .bottom .numControl{
	width:327px;
	height:32px;
	@include bdr(3px);
	border:1px solid $col-gra;
	margin:auto;
	background-color:$col-gra2;
	margin-top:10px;
	}
.detail_all .right .bottom .numSub{
	width:35px;
	height:32px;
	background-color:$col-whi;
	float:left;
	border-right:1px solid $col-gra;
	line-height:32px;
	text-align:center;
	cursor: pointer;}
.detail_all .right .bottom .numInput{
	float:left;
	height:32px;
	width:254px;
	text-align:center;}
.detail_all .right .bottom .numAdd{
	width:35px;
	height:32px;
	background-color:$col-whi;
	float:left;
	border-left:1px solid $col-gra;
	line-height:32px;
	text-align:center;
	cursor: pointer;
	}
.detail_all .right .bottom .button{
	width:330px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:$col-whi;
	background-color:$col-org;
	@include bdr(5px);
	margin:auto;
	cursor: pointer;
	margin-top:20px;}
.detail_all .com,.detail_all .member{
	display:none;
	}
.detail_all .left .bottom .desc{
	width:800px;
}
.detail_all .left .bottom .desc img{
	width:800px;
}
.detail_all.detail0 .button{
	background-color:$col-org !important;
}
.detail_all.detail1 .button{
	background-color:$col-red !important;
}
.detail_all.detail2 .button{
	background-color:$col-blu !important;
}
.detail_all.detail0 .left .bottom .nav .point.hl{
	color: $col-org;
    border-top: 2px solid $col-org;
}
.detail_all.detail1 .left .bottom .nav .point.hl{
	color: $col-red;
    border-top: 2px solid $col-red;
}
.detail_all.detail2 .left .bottom .nav .point.hl{
	color: $col-blu;
    border-top: 2px solid $col-blu;
}
.detail_all.detail0 .left .bottom .com .addCom{
	background-color:$col-org;
}
.detail_all.detail1 .left .bottom .com .addCom{
	background-color:$col-red;
}
.detail_all.detail2 .left .bottom .com .addCom{
	background-color:$col-blu;
}
.detail_all.detail2 .right .bottom{
	display:none !important;
}