/* Sass Document */
@import "lib/sass.scss";
.form_input{
	width:1090px;
	margin: auto;
	border:1px solid #DFDFDF;
	padding-bottom: 20px;
	margin-top: 20px;}
.form_input .titleFrame{
	width:100%;
	height:50px;
	border-bottom:3px solid $col-gra;}
.form_input .title{
	font-size:$fs3;
	height:50px;
	line-height: 50px;
	border-bottom:3px solid $col-yel;
	float:left;
	padding-left:10px;
	padding-right:10px;}
.form_input .nav{
	font-size:$fs3;
	height:25px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;}
.form_input .titleFrame .button{
	float:right;
	width:120px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:$col-whi;
	background-color:$col-yel;
	@include bdr(5px);
	position:relative;
	top:-10px;}
.form_input .list{
	width:100%;}
.form_input .point{
	width:100%;
	margin-top:28px;
	}
.form_input .point .left{
	width:150px;
	float:left;
	text-align:right;
	line-height:35px;
	}
.form_input .point .right{
	width:840px;
	float:left;
	margin-left:2%;
	line-height:35px;
	}
.form_input .point .right .input{
	width:164px;
	height:33px;
	border:1px solid #DFDFDF;
	text-align:center;
	}
.form_input .point .right .longInput{
	width:500px;
	}
.form_input .point .right .select,.form_input .point .right .doubleSelect .doublePoint{
	width:164px;
	height:33px;
	border:1px solid #DFDFDF;
	text-align:center;
	position:relative;
	}
.form_input .point .right .select.linkageSelect{
	float: left;
	margin-right: 20px;
}
.form_input .point .right .doubleSelect .doublePoint{
	float:left;
	margin-right:10px;}
.form_input .point .right .dropdownFrame{
	width:164px;
	position:absolute;
	top:33px;
	left:0px;
	background-color:$col-whi;
	z-index:10;
	display:none;
	}
.form_input .point .right .select:hover .dropdownFrame{
	display:block;
	}
.form_input .point .right .dropdownPoint{
	width:164px;
	height:33px;
	cursor: pointer;
	}
.form_input .point .right .dropdownPoint:hover{
	background-color:$col-blu;
	color:$col-whi;
	text-align:center;
	line-height:33px;
	}
.form_input .point .right .select select,.form_input .point .right .doubleSelect select{
	width:164px;
	height:33px;
	position:absolute;
	top:0px;
	left:0px;
	@include opacity(0);
	}
.form_input .point .right .select .value,.form_input .point .right .doubleSelect .value{
	width:164px;
	height:33px;
	}
.form_input .point .right .select .drop,.form_input .point .right .doubleSelect .drop{
	position:absolute;
	top:0px;
	right:10px;}
.form_input .point .right .priceSelect{
	float: left;
	margin-right: 20px;
}
.form_input .point .right .number{
	width:164px;
	height:33px;
	border:1px solid #DFDFDF;
	text-align:center;
	position:relative;
	}
.form_input .point .right .number .add{
	width:35px;
	height:33px;
	line-height:33px;
	border:1px solid #DFDFDF;
	text-align:center;
	position:absolute;
	top:-1px;
	left:-1px;
	cursor:pointer;
	}
.form_input .point .right .number .sub{
	width:35px;
	height:33px;
	line-height:33px;
	border:1px solid #DFDFDF;
	text-align:center;
	position:absolute;
	top:-1px;
	right:-1px;
	cursor:pointer;
	}
.form_input .point .right .number .value{
	width:94px;
	height:33px;
	position:absolute;
	top:0px;
	left:35px;
	text-align:center;
	}
.form_input .point .right .picFrame img{
	width:100px;
	height:100px;
	float:left;
	margin-bottom:10px;
	margin-right:10px;
	}
.form_input .point .right .addButton input{
	width:100px;
	height:100px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:4;
	@include opacity(0);
	cursor:pointer;
	} 
.form_input .point .right .addButton{
	float:left;
	width:100px;
	height:100px;
	@include bdr(5px);
	background-color:$col-yel;
	color:$col-whi;
	text-align:center;
	line-height:110px;
	font-size:66px;
	position:relative;
	cursor:pointer;
	float:left;
	margin-bottom:10px;
	margin-right:10px;
	}
.form_input .point .right .addButton form{
	cursor:pointer;}
.form_input .point .bottom{
	margin:auto;
	width: 990px;
}
.form_input .point .textarea{
	width:711px;
	height:212px;
	border:1px solid #DFDFDF;
	text-align:left;
	font-size:18px;
	line-height:22px;
	text-indent:20px;
	}
.form_input .sendButton{
	width:125px;
	height:38px;
	background-color:$col-yel;
	color:$col-whi;
	@include bdr(5px);
	float:right;
	margin-right:20px;
	margin-top:20px;
	text-align:center;
	line-height:38px;
	font-size:$fs3;
	cursor:pointer;
	}
.form_input .typeArea{
	margin-top:20px;
	margin-left:25px;
	}
.form_input .typeArea .typeButton{
	padding:5px 10px;
	background-color:$col-org;
	color:$col-whi;
	float:left;
	margin-right:10px;
	@include bdr(5px);
	}
.form_input .singlePic{
	position:relative
	}
.form_input .singlePic img{
	width:100px;
	height:100px;
	float:left;
	}
.form_input .singlePic .desc{
	float:left;
	margin-left:10px;
	position:relative;
	top:72px;}
.form_input .singlePic input{
	width:100px;
	height:100px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
	@include opacity(0);
	
	}
.form_input .addState{
	cursor: pointer;
}