/* Scss Document */
@import "lib/sass.scss";
.head_all{
	width:100%;
	height:130px;
	margin:auto;}
.head_all .topFrame{
	width: 100%;
	height: 30px;
	background-color: $col-gra;
}
.head_all .top{
	width:1210px;
	height: 30px;
	margin: auto;
}
.head_all .top .point{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	font:400 12px/30px consolas;
	cursor: pointer;
}
.head_all .top .left{
	float: left;
}
.head_all .top .right{
	float: right;
}
.head_all .top .point:hover{
	background-color: $col-whi;
	color: $col-red;
}
.head_all .bottomFrame{
	width: 100%;
	height: 100px;
	background-color: $col-whi;
}
.head_all .bottom{
	width:1210px;
	height: 100px;
	margin: auto;
}
.head_all .bottom .logo{
	float: left;
	cursor: pointer;
}
.head_all .bottom .sreachFrame{
	float: left;
	width: 538px;
	margin-left: 110px;
	margin-top: 24px;
}
.head_all .bottom .sreachFrame input{
	width:446px;
	height: 32px;
	border: 2px solid $col-red;
	border-right:0px;
	float: left; 
}
.head_all .bottom .sreachFrame .searchButton{
	width: 82px;
	height: 36px;
	float: left;
	background-color: $col-red;
	color: $col-whi;
	font-family: "Microsoft YaHei";
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}
.head_all .bottom .sreachFrame .point{
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.head_all .bottom .sreachFrame .point:hover{
	color: $col-red;
}
.head_all .bottom .shopList{
	width:141px;
	height: 36px;
	float: right;
	border: 1px solid $col-gra2;
	margin-right: 0px;
    margin-top: 23px;
    cursor: pointer;
}
.head_all .bottom .shopListIcon{
	width: 18px;
    height: 16px;
    background: url(img/xywimg.png) 0 -58px no-repeat;
    float: left;
    margin-top: 9px;
    margin-left: 15px;
}
.head_all .bottom .shopListMain{
	float: left;
	margin-top: 12px;
    margin-left: 10px;
    font-size: 12px;
}