/* Scss Document */
.pomo_table_A{
	width:1224px;
	height:442px;
	position:relative;
	margin:auto;}
.pomo_table_A .pomoOne{
	position:absolute;
	top:0px;
	left:0px;
	width:606px;
	height:290px;}
.pomo_table_A .pomoTwo{
	position:absolute;
	bottom:0px;
	left:0px;
	width:194px;
	height:140px;}
.pomo_table_A .pomoTree{
	position:absolute;
	bottom:0px;
	left:204px;
	width:400px;
	height:140px;}
.pomo_table_A .pomoFour{
	position:absolute;
	top:0px;
	right:0px;
	width:606px;
	height:140px;}
.pomo_table_A .pomoFive{
	position:absolute;
	bottom:0px;
	right:0px;
	width:606px;
	height:290px;}