/* Sass Document */
@import "lib/sass.scss";
.pomo_all{}
.pomo_all .groupTitle{ width: 1090px;
    margin: auto;
    background-color: #fff;
    height: 48px;
    font: 28px/48px "microsoft yahei";
    border-bottom: solid 3px #000;
    color: #000;
    margin-top: 20px;
}
.pomo_all .point{
	position: relative;
	margin-top: 10px;
	margin-left: 22px;
	width: 331px;
	float: left;
}
.pomo_all .point img{
	width: 100px;
	height: 100px;
	float: left;
}
.pomo_all .point .uploadPic{
	width: 100px;
	height: 100px;
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 3;
	cursor: pointer;
	@include opacity(0);
}
.pomo_all .point .link{
	width: 164px;
    height: 33px;
    border: 1px solid #DFDFDF;
    text-align: center;
    float: left;
    margin-left: 10px;
    margin-top: 65px;
}
.pomo_all .pointAdd{
	    width: 125px;
    height: 38px;
    background-color: #efc94c;
    color: #fff;
    @include bdr(0);
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    cursor: pointer;
}
.pomo_all .button{
	width: 125px;
    height: 38px;
    background-color: #efc94c;
    color: #fff;
    @include bdr(0);
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    cursor: pointer;
}
.pomo_all .pointRemove{
    float: left;
    width: 35px;
    height: 35px;
    background-color: #B1191A;
    color: #fff;
    @include bdr(5px);
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 65px;
}
