/* Scss Document */
@import "lib/sass.scss";
.product_list{
	width:100%;
	background-color: #fff;
	}
.product_list .list{
	width: 1210px;
	margin: auto;
}
.product_list .list .point{
	float: left;
	width: 166px;
    height: 250px;
    padding: 6px 17px 0;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    overflow: hidden;
    cursor: pointer;
}
.product_list .list .point .productpicFrame{
	width: 100%;
	height: 155px;
}
.product_list .list .point .productImg{
	width:130px;
	height:130px;
	margin: auto;
	margin-top: 10px;
}
.product_list .list .point .productName{
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
	color:$col-gra3;
}
.product_list .list .point .productPrice{
	    font-size: 15px;
    font-family: Verdana;
    color: #E4393C;
}