<div class="banner_all">
	<div class="frame">
    	<div class="roll">
        <% _.each(image,function(n){ %>
        	<img id="<%= n.id %>" src="<%= n.image %>" href="<%= n.link %>"/>
        <% }) %>
            <div class="clear"></div>
        </div>
        <div class="left"><span class="fa fa-left"></span></div>
        <div class="right"><span class="fa fa-right"></span></div>
    </div>
    <div class="top">
    	<div class="left">电邮：394127821@qq.com | 客服热线：18520812136</div>
        <div class="right">
        	<% if(type){%>
            <div class="button" id="userCenter" style="width:90px">个人中心</div>
            <div class="button" id="esc" style="width:90px">退出登录</div>
            <% }else{%>
            <div class="button" id="regist">注册</div>
            <div class="button" id="login" style="background-color:transparent;">登录</div>
            <% }%>
        	
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="bottom">
    	<div class="left">
        	<div class="icon"><span class="fa fa-logo"></span></div>
            <img src="img/nameA.png" class="name" />
            <div class="clear"></div>
        </div>
        <div class="right">
        	<% _.each(object,function(n){ %>
            <div class="point" oid="<%= n.id %>"><%= n.name %></div>
            <% }) %>
            <div class="point">关于我们</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
