
        <div class="navGroup_tem">我的账户</div>
        <div class="nav_tem" hash="accountListUc">账单明细</div>
        <div class="nav_tem" hash="rechargeUc">充值</div>
        <div class="nav_tem" hash="withdrawalUc">提现</div>
        <div class="nav_tem" hash="borrowListUc">借贷列表</div>
        <div class="navGroup_tem">我的资料</div>
        <div class="nav_tem" hash="baseMessageUc">基本资料</div>
        <div class="nav_tem" hash="realNameUc">实名认证</div>
        <% if(user.realName){ %>
                <div class="nav_tem" hash="cardBindUc">银行卡绑定</div>      
        <% } %>
        <% if(user.realName&&user.card){ %>
                <% if(!user.wantOpen){ %>
        <div class="nav_tem" id="open">开店</div>
        <% } %>
                <div class="nav_tem" hash="companyUc" <% if(!user.wantOpen){print('style="display:none;"')} %>>营业执照认证</div>
                <div class="nav_tem" hash="shopMessageUc" <% if(!user.wantOpen){print('style="display:none;"')} %>>店铺资料</div>
        <% } %>
        <div class="navGroup_tem">订单列表</div>
        <div class="nav_tem" hash="buyListUc/0">全部订单</div>
        <div class="nav_tem" hash="buyListUc/1">未支付订单</div>
        <div class="nav_tem" hash="buyListUc/2">已支付订单</div>
        <div class="nav_tem" hash="buyListUc/3">已取消订单</div>
        <div class="navGroup_tem">我的评价</div>
        <div class="nav_tem" hash="comListUc/0">评价列表</div>
        <% if(user.type==3){ %>
        <div class="nav_tem" hash="comListUc/1">被评论列表</div>
        <% } %>
        <div class="navGroup_tem">我的消息</div>
        <div class="nav_tem" hash="messageListUc">消息列表</div>
        <div class="navGroup_tem">我的收藏</div>
        <div class="nav_tem" hash="collectListUc">商品收藏</div>
        <% if(user.type==3){ %>
        <div class="navGroup_tem">商品管理</div>
        <div class="nav_tem" hash="productAddUc">添加商品</div>
        <div class="nav_tem" hash="productListUc/0">在售商品</div>
        <div class="nav_tem" hash="productListUc/1">待售商品</div>
        <div class="nav_tem" hash="productListUc/2">下架商品</div>
        <div class="navGroup_tem">交易管理</div>
        <div class="nav_tem" hash="dealListUc/0">全部交易</div>
        <div class="nav_tem" hash="dealListUc/1">未发货交易</div>
        <div class="nav_tem" hash="dealListUc/2">已发货交易</div>
        <div class="nav_tem" hash="dealListUc/3">退货交易</div>
        <div class="nav_tem" hash="dealListUc/4">已完成交易</div>
        <% } %>