<div class="borrow_index">
    <div class="banner">
        <img src="img/ad1.jpg"/>
        <img src="img/ad2.jpg"/>
        <img src="img/ad3.jpg"/>
        <div class="clear"></div>
    </div>
    <div class="bannerBottomFrame">
        <div class="bannerBottom">
            <img class="left" src="img/ico3.jpg"/>
            <div class="right">
                <div class="point">
                <!--
                    <div class="title"></div>-->
                    <div class="main">筛选装修公司</div>
                </div>
                <div class="point">
                    <!--
                    <div class="title"></div>-->
                    <div class="main">申请银行贷款</div>
                </div>
                <div class="point">
                   <!--
                    <div class="title"></div>-->
                    <div class="main">跟进装修进度</div>
                </div>
                <div class="point">
                    <!--
                    <div class="title"></div>-->
                    <div class="main">完成装修</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="group" style="background: #f1f1e6;">
        <div class="top">
            <span class="title">申请贷款</span>
            &nbsp;|&nbsp;提交你的贷款资料
        </div>
        <div class="bottomFrame">
            <div class="half">

                <div class="point">
                    <div class="left">联系人：</div>
                    <div class="right"><input placeholder="" class="input" value="" d_key="linkMan" d_type="input" num="0"></div>
                    <div class="clear"></div>
                </div>
            
                <div class="point">
                    <div class="left">出生年月：</div>
                    <div class="right"><input value="" placeholder="" class="input time" d_key="birthday" d_type="time" num="1" id="dp1449473314029"></div>
                    <div class="clear"></div>
                </div>
            
                <div class="point">
                    <div class="left">现工作地：</div>
                    <div class="right"><input placeholder="" class="input longInput" value="" d_key="workPlace" d_type="input" num="2"></div>
                    <div class="clear"></div>
                </div>

                <div class="point">
                    <div class="left">户籍：</div>
                    <div class="right">
                        <div class="select" d_key="census" d_type="select" num="3">
                            <div class="value"></div>
                            <div class="dropdownFrame">
                                
                                <div class="dropdownPoint" value="0">本地</div>
                                
                                <div class="dropdownPoint" value="1">异地</div>
                                
                                
                                
                            </div>
                            <div class="drop"><span class="fa fa-triangle-down"></span></div>
                         </div>
                      </div>
                    <div class="clear"></div>
                </div>
                <div class="point">
                    <div class="left">月收入：</div>
                    <div class="right">
                        <div class="number" d_key="pay" d_type="number" num="4">
                            <div class="add">+</div>
                            <input class="value" value="0">
                            <div class="sub">-</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="half">
                

                <div class="point">
                    <div class="left">房贷情况：</div>
                    <div class="right">
                        <div class="select" d_key="house" d_type="select" num="5">
                            <div class="value"></div>
                            <div class="dropdownFrame">
                                
                                <div class="dropdownPoint" value="0">已结清</div>
                                
                                <div class="dropdownPoint" value="1">未结清</div>
                                
                                <div class="dropdownPoint" value="2">无</div>
                                
                                
                                
                            </div>
                            <div class="drop"><span class="fa fa-triangle-down"></span></div>
                         </div>
                      </div>
                    <div class="clear"></div>
                </div>

                <div class="point">
                    <div class="left">车贷情况：</div>
                    <div class="right">
                        <div class="select" d_key="car" d_type="select" num="6">
                            <div class="value"></div>
                            <div class="dropdownFrame">
                                
                                <div class="dropdownPoint" value="0">已结清</div>
                                
                                <div class="dropdownPoint" value="1">未结清</div>
                                
                                <div class="dropdownPoint" value="2">无</div>
                                
                                
                                
                            </div>
                            <div class="drop"><span class="fa fa-triangle-down"></span></div>
                         </div>
                      </div>
                    <div class="clear"></div>
                </div>

                <div class="point">
                    <div class="left">身份证号：</div>
                    <div class="right"><input placeholder="" class="input" value="" d_key="card" d_type="input" num="7"></div>
                    <div class="clear"></div>
                </div>

                <div class="point">
                    <div class="left">常用手机号：</div>
                    <div class="right"><input placeholder="" class="input" value="" d_key="phone" d_type="input" num="8"></div>
                    <div class="clear"></div>
                </div>

                <div class="point">
                    <div class="left">期望金额：</div>
                    <div class="right">
                        <div class="number" d_key="money" d_type="number" num="4">
                            <div class="add">+</div>
                            <input class="value" value="0">
                            <div class="sub">-</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="centerButton" id="sendBorrow">提交申请</div>
        </div>
    </div>
    <div class="group">
        <div class="top">
            <span class="title">成功案例</span>
            &nbsp;|&nbsp;提交你的贷款资料
        </div>
        <div class="bottomFrame">
        <% _.each(list,function(n){ %>
            <div class="succeePoint">
                <img class="left" src="<%= n.image||"img/user.jpg" %>" />
                <div class="right">
                    <div class="title"><%= n.linkMan %></div>
                    <div class="main">
                        身份证：<%= n.card %></br>
                        联系电话：<%= n.phone %></br>
                        月收入：<%= n.pay %>元</br>
                        房贷：<% 
                        if(n.house=="0"){print("已结清")}else if(n.house=="1"){print("未结清")}else{
                            print("无");
                        } 
                        %></br>
                        车贷：<% 
                        if(n.car=="0"){print("已结清")}else if(n.car=="1"){print("未结清")}else{
                            print("无");
                        } 
                        %></br>
                        期望金额：<%= n.money %>元</br>
                        实批金额：<%= n.money %>元
                    </div>
                </div>
                <div class="clear"></div>
            </div>
         <% }) %>
            <div class="clear"></div>
        </div>
    </div>
    <div class="group" style="background: #f1f1e6;">
        <div class="top">
            <span class="title">合作品牌</span>
            &nbsp;|&nbsp;8大一线品牌深度合作
        </div>
        <div class="bottomFrame">
            <img class="friend" src="img/b01.jpg"/>
            <img class="friend" src="img/b02.jpg"/>
            <img class="friend" src="img/b03.jpg"/>
            <img class="friend" src="img/b04.jpg"/>
            <img class="friend" src="img/b05.jpg"/>
            <img class="friend" src="img/b06.jpg"/>
            <img class="friend" src="img/b07.jpg"/>
            <img class="friend" src="img/b08.jpg"/>
            <div class="clear"></div>
        </div>
    </div>
</div>
