<div class="detail_top">
    <div class="frame">
    	<div class="left">
    		<div class="picFrame">
    			<img src="<%= product.image[0] %>"/>
    		</div>
    		<div class="smallPicFrame">
    			<div class="smallPicLeft"></div>
    			<div class="smallPicCenter">
    				<div class="smallPicCenterRoll">
                        <% _.each(product.image,function(n){ %>
                            <img src="<%= n %>"/>
                          <% }) %>
    					<div class="clear"></div>
    				</div>
    			</div>
    			<div class="smallPicRight"></div>
    			<div class="clear"></div>
    		</div>
    		<div class="bottom">
    			<div class="pid">商品编号：<%= product.id %></div>
                <div class="clear"></div>
    			<div class="attention">
    				<div class="icon"></div>
    				<div class="name">关注商品</div>
    				<div class="clear"></div>
    			</div>
    			<div class="share">
    				<div class="icon"></div>
    				<div class="name">分享</div>
    				<div class="clear"></div>
    			</div>
    			<div class="clear"></div>
    		</div>
    	</div>
    	<div class="center">
    		<div class="title"><%= product.title %></div>
    		<div class="desc"><%= product.dsc %></div>
    		<div class="point">
    			<div class="pLeft">蚁窝价：</div>
    			<div class="pRight" id="priceChoose">￥<%= product.price[0].price %>（降价通知）</div>
    			<div class="clear"></div>
    		</div>
        <% _.each(product.priceState,function(n,i){ %>
    		<div class="point priceFrame">
    			<div class="pLeft"><%= n.title %>：</div>
    			<div class="pRight">
            <% _.each(n.list,function(y){ %>      
    				<div class="selectPoint" pid="<%= y.id %>" gid="<%= n.id %>">
                        <img src="<%= y.img %>" class="selectIcon"/>
                        <div class="selectTitle"><%= y.name %></div>
                        <div class="clear"></div>
                    </div>
                <% }) %>
    				<div class="clear"></div>
    			</div>
    			<div class="clear"></div>
    		</div>
        <% }) %>
    		<div class="point">
    			<div class="pLeft">
    				<div class="count">
    					<input value="0" readonly="readonly" />
    					<div class="add">+</div>
    					<div class="sub">-</div>
    				</div>
    			</div>
    			<div class="pRight">
    				<div class="addBuyCard"></div>
    			</div>
    		</div>
    	</div>
    	<div class="right">
            <div class="iconFrame">
                <img class="shopIcon" src="<%= shop.shopIcon %>"/>
            </div>
            <div class="shopName"><%= shop.shopName %></div>
            <div class="shopPrice">店铺评分：<%= shop.star %></div>
            <div class="link" sId="<%= shop.id %>">联系店家</div>
            <div class="buttonFrame">
            <div class="button" sId="<%= shop.id %>" id="goToShop">进入店铺</div>
            <div class="button" sId="<%= shop.id %>" id="addCollect">添加收藏</div>
            <div class="clear"></div>
            </div>    
        </div>
    	<div class="clear"></div>
        <div class="messageFrame">
            <div class="messageClose">x</div>
            <div class="messageTitle"><%= shop.shopName %></div>
            <input class="messageInput"/>
            <div class="clear"></div>
            <div class="messageSend">发送</div>
            <div class="clear"></div>
        </div>
    </div>
</div>
