<div class="detail_all detail<% 
                        var now=new Date().getTime();
                        if(stratTime>now){
                            print(0)
                        } else if(stratTime<=now&&payedCount>passNumber&&payedCount<copy){
                            print(1)
                        }else{
                            print(2)
                        }
                            %>">
	<div class="left">
    	<div class="top">
        	<div class="imgframe">
            	<div class="imgRoll" style="width:<%= image.length*100 %>%">
                <% _.each(image,function(n){ %>
                	<img src="<%= n %>"/>
                <% }) %>
            		<div class="clear"></div>
                </div>
            
            </div>
        	
            <div class="clear"></div>
        	<div class="thirdPoint">
				<div class="icon"><span class="fa fa-compass2"></span></div>
                <div class="type">地点</div>
                <div class="main"><%= place %></div>            
            </div>
            <div class="thirdPoint">
				<div class="icon"><span class="fa fa-library"></span></div>
                <div class="type">种类</div>
                <div class="main"><%= buildtypeArry[buildtype] %></div>            
            </div>
            <div class="thirdPoint last">
				<div class="icon"><span class="fa fa-hammer"></span></div>
                <div class="type">阶段</div>
                <div class="main"><%= buildStateArry[buildState] %></div>            
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
        	<div class="nav">
            	<div class="point hl" pid="desc">项目概况</div>
                <div class="point" pid="com">评论</div>
                <div class="point" pid="member">支持者</div>
                <div class="clear"></div>
            </div>
            <div class="desc">
            <% _.each(detail,function(n){ %>
                <img src="<%= n %>">
               <%  }) %>
            </div>
            <div class="com">
            	<div class="addCom">加入讨论</div>
                <div class="comFrame">
                	<% _.each(com,function(n){ %>
                    <div class="firstCom">
                        <img src="<%= n.icon %>" class="icon"/>
                        <div class="main">
                            <div class="name"><%= n.Steven %></div>
                            <div class="descA"><%= n.main %></div>
                            <div class="time"><%= n.time %></div>
                            <div class="child">
                            	<% _.each(n.child,function(y){ %>
                                <div class="point">
                                    <img src="<%= y.icon %>" class="icon"/>
                                    <div class="main">
                                        <div class="name"><%= y.Steven %></div>
                                        <div class="descA"><%= y.main %></div>
                                        <div class="time"><%= y.time %></div>
                                    </div>
                                </div>
                                <% }) %>
                                
                                
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <% }) %>
                    
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="member">
                    <table>
                        <thead>
                            <th>用户姓名</th>
                            <th>手机号</th>
                            <th>选购额度</th>
                            <th>抢购时间</th>
                            <th>认筹状态</th>
                        </thead>
                        <tbody>
                        	<% _.each(member,function(n){ %>
                            <tr>
                                <td><%= n.name?((n.name[0]||"")+"*"+(n.name[2]||"")):"" %></td>
                                <td><%= n.phone?(n.phone.substr(0,5)+"*****"):"" %></td>
                                <td><%= n.count %></td>
                                <td><%= moment(n.startTime,"x").format("YYYY-MM-DD") %></td>
                                <td><%= n.endTime?"已卖出":"持有" %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    
    <div class="right">
    	<div class="top">
        	<div class="title"><%= title %></div>
            <div class="gain">总金额 <span class="num">￥<%= price*copy %></span></div>
            <div class="clear"></div>
            <div class="change">基础年化收益</div>
            <div class="line"></div>
            <div class="persent"><%= yearReturn %>%</div>
            <div class="clear"></div>
            <img class="tag" src="img/tagr<%= tag %>.png"/>
        </div>

        <div class="center">
        	<div class="point">账户余额：&nbsp;&nbsp;&nbsp;&nbsp;￥<%= user.balance||0 %></div>
            <div class="point">优惠券：&nbsp;&nbsp;&nbsp;&nbsp;￥<%= user.redpacket||0 %></div>
            <div class="button" id="moneyIn">充值</div>
        </div>

        <div class="bottom">
        	<div class="title">￥<%= price %>来抢，史上最低</div>
            <div class="frame">
            	<div class="thirdPoint">
                	<div class="main">
                    	<div class="point">每份额度：</div>
                        <div class="point">￥<%= price %></div>
                    </div>
                </div>
                <div class="thirdPoint">
                	<div class="main">
                    	<div class="point">份额上限：</div>
                        <div class="point"><%= ((copy-payedCount)<Math.floor(((user.balance||0)+(user.redpacket||0))/price))?(copy-payedCount):Math.floor(((user.balance||0)+(user.redpacket||0))/price) %></div>
                    </div>
                </div>
                <div class="thirdPoint">
                	<div class="main last">
                    	<div class="point">剩余份额：</div>
                        <div class="point"><%= copy-payedCount %></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="secondTitle">份额数量：</div>
            <div class="numControl">
            	<div class="numSub">-</div>
                <input class="numInput" value="0" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                <div class="numAdd">+</div>
                <div class="clear"></div>
            </div>
            <div class="button" id="buyButton" style="display:none;">支持 ￥<%= price %></div>
        </div>
    </div>
    <div class="clear"></div>

</div>