<div class="detail_bottom">
    <div class="frame">
        <div class="left">
        <div class="panel">
            <div class="title">相关分类</div>
            <div class="list">
                <% _.each(type,function(t){ %>
                    <div class="point" hash="search//<%= t.id %>"><%= t.name %></div>
                <% }) %>
                <div class="clear"></div>
            </div>
        </div>
        <div class="panel">
            <div class="title">同类品牌</div>
            <div class="list">
                <% _.each(brand,function(t){ %>
                    <div class="point" hash="search///<%= t.id %>"><%= t.name %></div>
                <% }) %>
                <div class="clear"></div>
            </div>
        </div>
        <div class="panel">
            <div class="title">销量top10</div>
            <div class="list">
                <% for(var t=0;t<10;t++){
                    if(topShell[t]){ %>
                    <div class="productPoint" hash="detail/<%= topShell[t].id %>">
                        <img src="<%= topShell[t].image[0] %>"/>
                        <div class="name"><%= topShell[t].title %></div>
                        <div class="price">￥<%= topShell[t].price[0].price %></div>
                    </div>
                <% }
                    } %>
            </div>
        </div>
        <div class="panel">
            <div class="title">人气top10</div>
            <div class="list">
                <% for(var t=0;t<10;t++){
                    if(topVisit[t]){ %>
                    <div class="productPoint" hash="detail/<%= topVisit[t].id %>">
                        <img src="<%= topVisit[t].image[0] %>"/>
                        <div class="name"><%= topVisit[t].title %></div>
                        <div class="price">￥<%= topVisit[t].price[0].price %></div>
                    </div>
                <% }
                    } %>
            </div>
        </div>
        <div class="panel">
            <div class="title">价格top10</div>
            <div class="list">
                <% for(var t=0;t<10;t++){
                    if(topPrice[t]){ %>
                    <div class="productPoint" hash="detail/<%= topPrice[t].id %>">
                        <img src="<%= topPrice[t].image[0] %>"/>
                        <div class="name"><%= topPrice[t].title %></div>
                        <div class="price">￥<%= topPrice[t].price[0].price %></div>
                    </div>
                <% }
                    } %>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="top">
            <div class="point">商品介绍</div>
            <div class="point">规格参数</div>
            <div class="point">商品评价</div>
            <div class="buyList"></div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
            <div class="list" style="display:block">
                <%= product.detail %>
            </div>
            <div class="list">
                <table cellspacing="2px">
                    <tbody>
                        <% _.each(product.goodState,function(state){ %>
                            <tr>
                                <td width="30%"><%= state.key %></td><td><%= state.value %></td>         
                            </tr>
                          <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="list">
                <table cellspacing="2px">
                    <tbody>
                        <tr>
                            <td width="60%">
                                <div class="com">
                                  还不错，国产电视的水平应该是非常不错的了。性价比高。虽然通常两三年后有毛病，不过也不错了。 　2015-11-29 10:31  
                                </div>
                            </td>
                            <td width="20%">
                                <div class="starGroup starGroup5"></div>
                            </td>
                            <td width="20%">
                                <img class="userIcon" src="img/user.jpg"/>
                                <div class="userName">jiumogaoao</div>
                                <div class="clear"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="60%">
                                <div class="com">
                                  还不错，国产电视的水平应该是非常不错的了。性价比高。虽然通常两三年后有毛病，不过也不错了。 　2015-11-29 10:31  
                                </div>
                            </td>
                            <td width="20%">
                                <div class="starGroup starGroup5"></div>
                            </td>
                            <td width="20%">
                                <img class="userIcon" src="img/user.jpg"/>
                                <div class="userName">jiumogaoao</div>
                                <div class="clear"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="60%">
                                <div class="com">
                                  还不错，国产电视的水平应该是非常不错的了。性价比高。虽然通常两三年后有毛病，不过也不错了。 　2015-11-29 10:31  
                                </div>
                            </td>
                            <td width="20%">
                                <div class="starGroup starGroup5"></div>
                            </td>
                            <td width="20%">
                                <img class="userIcon" src="img/user.jpg"/>
                                <div class="userName">jiumogaoao</div>
                                <div class="clear"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="60%">
                                <div class="com">
                                  还不错，国产电视的水平应该是非常不错的了。性价比高。虽然通常两三年后有毛病，不过也不错了。 　2015-11-29 10:31  
                                </div>
                            </td>
                            <td width="20%">
                                <div class="starGroup starGroup5"></div>
                            </td>
                            <td width="20%">
                                <img class="userIcon" src="img/user.jpg"/>
                                <div class="userName">jiumogaoao</div>
                                <div class="clear"></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="60%">
                                <div class="com">
                                  还不错，国产电视的水平应该是非常不错的了。性价比高。虽然通常两三年后有毛病，不过也不错了。 　2015-11-29 10:31  
                                </div>
                            </td>
                            <td width="20%">
                                <div class="starGroup starGroup5"></div>
                            </td>
                            <td width="20%">
                                <img class="userIcon" src="img/user.jpg"/>
                                <div class="userName">jiumogaoao</div>
                                <div class="clear"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    </div>
    
</div>
