<div class="foot_all">
	<div class="top">
		<div class="point">关于无忧</div>
        <div class="point">安全保障</div>
        <div class="point">帮助中心</div>
        <div class="point">联系我们</div>
        <div class="clear"></div>    
    </div>
    <div class="center">
    	<div class="left">
        	<div class="list">
            	<div class="point">资金安全</div>
                <div class="point">风控管理</div>
                <div class="point">用户协议</div>
                <div class="point">隐私声明</div>
            </div>
            <div class="list">
            	<div class="point">资金安全</div>
                <div class="point">风控管理</div>
                <div class="point">用户协议</div>
                <div class="point">隐私声明</div>
            </div>
            <div class="list">
            	<div class="point">常见问题</div>
                <div class="point">众筹买房介绍</div>
                <div class="point">众筹租房介绍</div>
                <div class="point">意见反馈</div>
            </div>
            <div class="list" style="width:288px;">
            	<div class="point">众筹热线：<%= phone||"" %></div>
                <div class="point">客服邮箱：<%= mail||"" %></div>
                <div class="point">商务合作：<%= businessMail||"" %></div>
                <div class="point">公司地址： <%= place||"" %></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="right">
        	<div class="point">
            	<img class="qr" src="<%= wx||"img/qr.png" %>"/>
                <div class="name"><%= name %>官方微信</div>
            </div>
            <div class="point">
            	<img class="qr" src="<%= wb||"img/qr.png" %>"/>
                <div class="name"><%= name %>官方微博</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="promo">
    	<img class="point" src="img/foot.png"/>
        <img class="point" src="img/foot.png"/>
        <img class="point" src="img/foot.png"/>
        <img class="point" src="img/foot.png"/>
        <div class="clear"></div>
    </div>
    <div class="bottom">
    	<%= icp %> <span class="fa fa-wx"></span> <span class="fa fa-qq"></span> <span class="fa fa-wb"></span> copyright&copy;<%= host %>
    </div>
</div>
