<div class="index_list">
    <% _.each(list,function(group){ %>
        <div class="list">
            <div class="top">
            <div class="left">
                <div class="logo"></div>
                <div class="title"><%= group.title %></div>
            </div>
            <div class="right">
                <% _.each(group.nav,function(nav){ %>
                    <div class="point" pid="<%= nav.id %>">
                        <div class="main" hash="search//<%= nav.id %>"><%= nav.name %></div>
                    </div>
                    <% }) %>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="center">
            <div class="left" 
            <% if(pomo[group.id+"_C"]&&pomo[group.id+"_C"].list){_.each(pomo[group.id+"_C"].list,function(p){ %>
            style="background-image:url(<%= p.img %>)"
            <% })} %>
            >
                <div class="mainFrame">
                    <div class="themes">
                        <% if(obj&&obj[group.id]&&obj[group.id].length){
                            _.each(obj[group.id],function(leftO){ %>
                            <div class="point" pid="<%= leftO.id %>">
                                <div class="icon"></div>
                                <div class="name" hash="search//<%= leftO.id %>"><%= leftO.name %></div>
                                <div class="clear"></div>
                            </div>
                        <%        })
                         } %>
                        <div class="clear"></div>
                    </div>
                    <div class="assists">
                        <div class="clear"></div>
                    </div>
                    <div class="words">
                        <% if(obj&&obj[group.id]&&obj[group.id].length){
                            _.each(obj[group.id],function(leftO){ 
                                if(obj[leftO.id]&&obj[leftO.id].length){
                                    _.each(obj[leftO.id],function(leftP){    
                                %>
                           <div class="point" hash="search///<%= leftP.id %>"><%= leftP.name %></div>
                        <%     })  } })
                         } %>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="right">
                <% _.each(group.product,function(product){ %>
                    <div class="point" hash="detail/<%= product.id %>">
                    <div class="productpicFrame">
                        <img class="productImg" src="<%= product.image[0] %>"/>
                    </div>
                    <div class="productName"><%= product.title %></div>
                    <div class="productPrice">￥<%= product.price[0].price %></div>
                </div>
                   <%  }) %>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
            <% if(pomo[group.id+"_A"]&&pomo[group.id+"_A"].list){_.each(pomo[group.id+"_A"].list,function(p){ %>
                <div class="point" href="<%= p.link %>">
                    <img src="<%= p.img %>"/>
                </div>
            <% })} %>
            <div class="clear"></div>
        </div>
        <div class="banner">
            <% if(pomo[group.id+"_B"]&&pomo[group.id+"_B"].list){_.each(pomo[group.id+"_B"].list,function(p){ %>
            <img class="pomo" src="<%= p.img %>" href="<%= p.link %>"/>
            <% })} %>
            <div class="clear"></div>
        </div>
    </div>
    <% }) %>
    
</div>
