<div class="index_pomo">
    <div class="top">
        <div class="left">
        <% _.each(left,function(n){ %>
        <div class="point" hash="search/<%= n.id %>">
                <div class="main"><%= n.title %></div>
                <div class="deg">&gt;</div>
                <div class="hoverPage">
                    <% _.each(n.list,function(y){ %>
                    <div class="list">
                        <div class="title" hash="search//<%= y.id %>"><%= y.title %></div>
                        <div class="frame">
                            <% _.each(y.list,function(p){ %>
                            <div class="hoverPoint" hash="search///<%= p.id %>"><%= p.name %></div>
                               <% }) %>
                        </div>
                    </div>
                      <% }) %>
                </div>
                <div class="clear"></div>
            </div>
         <% }) %>
        </div>
        <div class="center">
            <div class="centerR">
                <img src="img/pic.jpg" class="point" hash="detail"/>
                <img src="img/pic.jpg" class="point" hash="detail"/>
                <img src="img/pic.jpg" class="point" hash="detail"/>
                <img src="img/pic.jpg" class="point" hash="detail"/>
                <div class="clear"></div>
            </div>
        </div>
        <div class="right">
            <div class="message">
                <div class="title">
                    <div class="main">系统公告</div>
                    <div class="more">更多&nbsp;&gt;</div>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="point">
                        <b>[公告]</b> 系统公告 2015/11/23
                    </div>
                    <div class="point">
                        <b>[公告]</b> 系统公告 2015/11/23
                    </div>
                    <div class="point">
                        <b>[公告]</b> 系统公告 2015/11/23
                    </div>
                    <div class="point">
                        <b>[公告]</b> 系统公告 2015/11/23
                    </div>
                    <div class="point">
                        <b>[公告]</b> 系统公告 2015/11/23
                    </div>
                </div>
            </div>
            <div class="server">
                <div class="title">
                    <div class="main">生活服务</div>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="point" id="hf">
                        <div class="icon"></div>
                        <div class="name">话费</div>
                    </div>
                    <div class="point" id="jp">
                        <div class="icon"></div>
                        <div class="name">机票</div>
                    </div>
                    <div class="point" id="dyp">
                        <div class="icon"></div>
                        <div class="name">电影票</div>
                    </div>
                    <div class="point nr" id="yx">
                        <div class="icon"></div>
                        <div class="name">游戏</div>
                    </div>
                    <div class="point" id="cp">
                        <div class="icon"></div>
                        <div class="name">彩票</div>
                    </div>
                    <div class="point" id="tg">
                        <div class="icon"></div>
                        <div class="name">团购</div>
                    </div>
                    <div class="point" id="jd">
                        <div class="icon"></div>
                        <div class="name">酒店</div>
                    </div>
                    <div class="point nr" id="sdm">
                        <div class="icon"></div>
                        <div class="name">水电煤</div>
                    </div>
                    <div class="point" id="zc">
                        <div class="icon"></div>
                        <div class="name">众筹</div>
                    </div>
                    <div class="point" id="lc">
                        <div class="icon"></div>
                        <div class="name">理财</div>
                    </div>
                    <div class="point" id="lpk">
                        <div class="icon"></div>
                        <div class="name">礼品卡</div>
                    </div>
                    <div class="point nr" id="bt">
                        <div class="icon"></div>
                        <div class="name">白条</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="bottom">
        <div class="left"></div>
        <div class="right">
            <div class="rightR">
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>

                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>

                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>

                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <img src="img/565278b5N80ac60a8.jpg" class="point" hash="detail"/>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
