<div class="product_list">
    <div class="list">
    <% _.each(list,function(n){ %>
    <div class="point" hash="detail/<%= n.id %>">
                    <div class="productpicFrame">
                        <img class="productImg" src="<%= n.image[0] %>"/>
                    </div>
                    <div class="productName"><%= n.title %></div>
                    <div class="productPrice">￥<%= n.price[0].price %></div>
        </div>
        <% }) %>
        <div class="clear"></div>
    </div>
</div>
