<div class="search_list">
	<div class="list type" searchType="type">
    	<div class="title">类型筛选</div>
        <div class="main">
        	<div class="point" pid="0">全部</div>
            <% _.each(typeList,function(n){ %>
            <div class="point" pid="<%= n.id %>"><%= n.name %></div>
            <% }) %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="list state" searchType="state">
    	<div class="title">状态筛选</div>
        <div class="main">
        	<div class="point" pid="0">全部</div>
            <% _.each(stateList,function(n){ %>
            <div class="point" pid="<%= n.id %>"><%= n.name %></div>
            <% }) %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="list order" searchType="order">
    	<div class="title">排序筛选</div>
        <div class="main">
        	<div class="point" pid="0">全部</div>
            <% _.each(orderList,function(n){ %>
            <div class="point" pid="<%= n.id %>"><%= n.name %></div>
            <% }) %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
