<div class="search_nav">
    <div class="list">
        <div class="left">栏目：</div>
        <div class="right">
            <div class="point <% if(search.object=="all"){print("hl")} %>" pid="all">全部</div>
            <% _.each(objArry,function(n){ %>
                <div class="point <% if(search.object==n.id){print("hl")} %>" pid="<%= n.id %>"><%= n.name %></div>
              <% }) %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="list">
        <div class="left">分类：</div>
        <div class="right">
            <div class="point <% if(search.type=="all"){print("hl")} %>" pid="all">全部</div>
            <% _.each(typeArry,function(n){ %>
                <div class="point <% if(search.type==n.id){print("hl")} %>" pid="<%= n.id %>"><%= n.name %></div>
              <% }) %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="list">
        <div class="left">品牌：</div>
        <div class="right">
            <div class="point <% if(search.brand=="all"){print("hl")} %>" pid="all">全部</div>
            <% _.each(brandArry,function(n){ %>
                <div class="point <% if(search.brand==n.id){print("hl")} %>" pid="<%= n.id %>"><%= n.name %></div>
              <% }) %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="list">
        <div class="left">标签：</div>
        <div class="right">
            <div class="point <% if(search.tag=="all"){print("hl")} %>" pid="all">全部</div>
            <% _.each(tagArry,function(n){ %>
                <div class="point <% if(search.tag==n.id){print("hl")} %>" pid="<%= n.id %>"><%= n.name %></div>
              <% }) %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="list">
        <div class="left">排序：</div>
        <div class="right">
            <div class="point <% if(search.sort=="0"){print("hl")} %>" pid="0">人气</div>
            <div class="point <% if(search.sort=="1"){print("hl")} %>" pid="1">评分</div>
            <div class="point <% if(search.sort=="2"){print("hl")} %>" pid="2">价格</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
